/* ------------------------------------------------------------ */
/* ---------------- Styles for max-width desktops  --------------- */
/* ------------------------------------------------------------ */

@media only screen and (max-width : $contentWidth){
  .container{
    width: 100%;
    padding: 0 10px;
    min-width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}