.button-gradient {
  background: #17ba45;
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #17ba45), color-stop(100%, #0ba9e7));
  background: -webkit-linear-gradient(-45deg, #17ba45 0%, #0ba9e7 100%);
  background: -webkit-linear-gradient(315deg, #17ba45 0%, #0ba9e7 100%);
  background: linear-gradient(135deg, #17ba45 0%, #0ba9e7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#17ba45', endColorstr='#0ba9e7', GradientType=1 ); }

/* Fonts */
/* ------------------------------------------------ */
/* ------------------- Reset CSS --------------- */
/* ------------------------------------------------ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*Vendors*/
/* Including Partials */
/*Including @MEDIA styles*/
/* ------------------------------------------------------------ */
/* ---------------- Styles for max-width desktops  --------------- */
/* ------------------------------------------------------------ */
/* ---------------------------------------------------------- */
/* ---------------- Styles for 992px tablets  --------------- */
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
/* ---------------- Styles for 768px tablets  --------------- */
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* ------------------ Styles for 480 mobile devices --------------- */
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* ---------------- Styles for 320px mobile devices --------------- */
/* ---------------------------------------------------------------- */
