.colorful-icon{
  width: 25%;
  height: 300px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  float: left;
  transition: .4s;
  &:hover{
    filter: brightness(90%);
  }
  &_wrap{
    position: relative;
    height: 100%;

  }
  .gradient-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    opacity: 0.6;
  }
  .colorful-icon_bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 1;

    //&:after{
    //  content: '';
    //  width: 100%;
    //  height: 100%;
    //  position: absolute;
    //  top: 0;
    //  left: 0;
    //  z-index: -1;
    //  background: #0BA8E7;
    //  opacity: 1;
    //}
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      opacity: 1;
    }
  }
  &_icon{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
    .icon{
      z-index: 10;
      width: 88px;
      height: 88px;
      border: 2px solid $white;
      line-height: 88px;
      text-align: center;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      border-radius: 100px;
      display: block;
      position: relative;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin-top: 50px;
      i{
        font-size: 40px;
        line-height: 82px;
      }
    }

    .colorful-icon_desc{
      color: $white;
      font-size: 26px;
      font-family: $secondaryFontFamily;
      text-align: center;
      padding-top: 10px;
      height: 84px;
      padding-left: 40px;
      padding-right: 40px;
    }
  }
}

.section-colorful-icons{
  margin: 10px 0 30px 0;

}
.colorful-icons-wrap{
  padding: 10px;
  overflow: hidden;
}


.colorful-icon:nth-child(1) .gradient-bg {
  background: linear-gradient(135deg, #16b854 0%,#20b693 100%);
}

.colorful-icon:nth-child(2) .gradient-bg {
  background: linear-gradient(135deg, #13B474 0%,#11B0A1 100%);
}

.colorful-icon:nth-child(3) .gradient-bg {
  background: linear-gradient(135deg, #11B196 0%,#0DACC0 100%);
}

.colorful-icon:nth-child(4) .gradient-bg {
  background: linear-gradient(135deg, #0FADB7 0%,#0BA8E1 100%);
}

.colorful-icon:nth-child(5) .gradient-bg {
  background: linear-gradient(135deg, #15B75F 0%,#18B498 100%);
}

.colorful-icon:nth-child(6) .gradient-bg {
  background: linear-gradient(135deg, #13B481 0%,#0FAEAB 100%);
}

.colorful-icon:nth-child(7) .gradient-bg {
  background: linear-gradient(135deg, #10AFA1 0%,#0DABCD 100%);
}

.colorful-icon:nth-child(8) .gradient-bg {
  background: linear-gradient(135deg, #0DACC2 0%,#0BA8E7 100%);
}