.message-author{
  &_img{
    width: 100%;
    height: 370px;
    img{
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }
  &_info{
    span{
      display: block;
      padding: 5px 0 10px 0;
    }
  }
}