.readmore-box{
  padding: 50px 0;
  margin: 40px 0;
}
.hidden-text{
  height: 200px;
  overflow: hidden;
  position: relative;
  transition: 0.5s;
  &:after{
    display: block;
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    content: '';
    background: rgba(247,247,247,0);
    background: -moz-linear-gradient(top, rgba(247,247,247,0) 0%, rgba(247,247,247,1) 79%, rgba(247,247,247,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(247,247,247,0)), color-stop(79%, rgba(247,247,247,1)), color-stop(100%, rgba(247,247,247,1)));
    background: -webkit-linear-gradient(top, rgba(247,247,247,0) 0%, rgba(247,247,247,1) 79%, rgba(247,247,247,1) 100%);
    background: -o-linear-gradient(top, rgba(247,247,247,0) 0%, rgba(247,247,247,1) 79%, rgba(247,247,247,1) 100%);
    background: -ms-linear-gradient(top, rgba(247,247,247,0) 0%, rgba(247,247,247,1) 79%, rgba(247,247,247,1) 100%);
    background: linear-gradient(to bottom, rgba(247,247,247,0) 0%, rgba(247,247,247,1) 79%, rgba(247,247,247,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#f7f7f7', GradientType=0 );
    transition: 0.5s;
  }

  &.show{
    height: auto;
    &:after{
      visibility: hidden;
      opacity: 0;
    }
  }
}
.hidden-text_inner{
  text-align: left;
}
.readmore-box_link{
  text-transform: uppercase;
  color: #837D7D;
  display: block;
  position: relative;
  &:after{
    content: '';
    display: block;
    border-bottom: 1px solid #DADADA;
    position: absolute;
    top: 17px;
    width: 100%;
    z-index: 0;
  }
  span{
    background: #F8F8F8;
    display: inline-block;
    padding: 10px;
    position: relative;
    z-index: 1;
  }
}