.icon-arrow-thin{
  &:before{
    content: '';
    background: url('../img/svg/arrow-thin-white.svg') no-repeat center / contain;
    width: 5px;
    height: 10px;
    display: inline-block;
  }
}

.icon-bordered{
  background: rgba(23,186,69,1);
  background: -moz-linear-gradient(-45deg, rgba(23,186,69,1) 0%, rgba(11,169,231,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(23,186,69,1)), color-stop(100%, rgba(11,169,231,1)));
  background: -webkit-linear-gradient(-45deg, rgba(23,186,69,1) 0%, rgba(11,169,231,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(23,186,69,1) 0%, rgba(11,169,231,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(23,186,69,1) 0%, rgba(11,169,231,1) 100%);
  background: linear-gradient(135deg, rgba(23,186,69,1) 0%, rgba(11,169,231,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#17ba45', endColorstr='#0ba9e7', GradientType=1 );
  display: inline-block;
  width: 88px;
  height: 88px;
  border-radius: 100px;
  position: relative;
  i{
    display: inline-block;
    text-align: center;
    font-size: 35px;
    background: $white;
    width: 84px;
    height: 84px;
    line-height: 84px;
    border-radius: 100px;
    position: absolute;
    top: 2px;
    left: 2px;
  }
}