.decor-wave-blue{
  background: url("../img/svg/wave-blue.svg") no-repeat center / contain;
  width: 45px;
  height: 8px;
  display: inline-block;
  margin: 15px 0;
}
.decor-wave-white{
  background: url("../img/svg/wave.svg") no-repeat center / contain;
  width: 45px;
  height: 8px;
  display: inline-block;
  margin: 15px 0;
}