.form-group,
.form-btn{
  padding: 10px 0;
}
input,textarea{
  width: 100%;
  border: 1px solid #837D7D;
  font-family: $primaryFontFamily;
  font-size: 16px;
  padding: 10px;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  &::placeholder{
    font-family: $primaryFontFamily;
    font-style: italic;
    font-size: 16px;
  }
}