.header{
  &-black{
    background: $black;
    text-align: center;
  }
  &-top{
    position: absolute;
    top: 0;
    z-index: 100;
    width: 100%;
    left: 0;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}