.container{
  width: $contentWidth;
  margin: 0 auto;
}

.flexbox{
  display: flex;
}

.clear{
  &:after{
    content: '';
    clear: both;
    display: block;
    width: 100%;
  }
  &:before{
    content: '';
    display: block;
    clear: both;
    width: 100%;
  }
}
/* Positions */
.centered{
  text-align: center;
  &.width-50p{
    margin: 0 auto;
  }
  &.width-500px{
    margin: 0 auto;
  }
  .width-500px{
    margin: 0 auto;
  }
}

.centered-vertical{
  justify-content: center;
  display: flex;
  flex-direction: column;
}


/* Extra width */
.width-50p{
  width: 50%;
}
.width-500px{
  width: 500px;
}

/* Margins */
.margin-50px{
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}

/* Backgrounds */

.bg-grey{
  background: #F8F8F8;
}

/* Rows with columns */

.row-3-columns{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 0;
  .col{
    width: 32%;
  }
  &.row-3-last-w{
    .col{
      width: 26.5%;
    }
    .col-width{
      min-width: 45%;
    }
  }
}
.row-2-columns{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .col{
    width: 50%;
    padding: 20px 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.row-4-columns{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .col{
    width: 25%;
    padding: 20px 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
/* Links & lists*/

a.link-arrow{
  display: block;
  border-bottom: 1px solid rgba(48, 44, 44, 0.42);
  color: $darkText;
  padding: 20px;
  position: relative;
  font-style: italic;
  transition: 0.4s;
  width: 100%;
  box-sizing: border-box;
  &:after{
    content: '';
    background: url('../img/svg/arrow-right-red.svg') no-repeat center / contain;
    width: 6px;
    height: 13px;
    display: block;
    position: absolute;
    right: 10px;
    top: 20px;
    transition: 0.4s;
  }
  &:hover{
    color: $red;
    &:after{
      right: 2px;
    }
  }
}


.small-hr{
  background: #DADADA;
  border: 0;
  height: 1px;
  width: 70px;
  text-align: left;
  margin: 20px 0;
}

/* Infobox styled */

.infobox-styled,
address{
  position: relative;
  padding: 7px 0 7px 20px;
  margin: 10px 0;
  h5{
    font-family: $primaryFontFamily;
    font-size: 20px;
    font-style: italic;
    padding-bottom: 10px;
  }
  p{
    font-family: $secondaryFontFamily;
    font-size: 16px;
    line-height: 130%;
    color: $greyText;
  }
  &:before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 3px;
    height: 100%;
    background: rgba(250,217,97,1);
    background: -moz-linear-gradient(top, rgba(250,217,97,1) 0%, rgba(247,108,28,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(250,217,97,1)), color-stop(100%, rgba(247,108,28,1)));
    background: -webkit-linear-gradient(top, rgba(250,217,97,1) 0%, rgba(247,108,28,1) 100%);
    background: -o-linear-gradient(top, rgba(250,217,97,1) 0%, rgba(247,108,28,1) 100%);
    background: -ms-linear-gradient(top, rgba(250,217,97,1) 0%, rgba(247,108,28,1) 100%);
    background: linear-gradient(to bottom, rgba(250,217,97,1) 0%, rgba(247,108,28,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fad961', endColorstr='#f76c1c', GradientType=0 );
  }
}

.slick-arrow{
  cursor: pointer;
}
.fancybox-close-small::after{
  color: $blue;
}