$white: #ffffff;
$black: #17170E;

$darkBlue: #1F2427;
$green: #74B943;
$red: #E45050;

$bgMain: #F1F1F1;

$primarilyFontColor: #3D687E;

$blue: #2D8EFF;
$crystall: #DCEEFF;
$red: #E45050;
$green: #74B943;
$yellow: #FFCC3D;
$black: #000A12;
$darkGrey: #1F2D3D;
$grey: #778F9B;
$lightGrey: #B8C1CB;
$Show: #DDE2E8;