$transitionLink: .2s;
$transitionBtn: .4s;

$contentWidth: 1140px;


/* Fonts */
$primaryFontFamily: 'Raleway', sans-serif;
$secondaryFontFamily: 'Quicksand', sans-serif;
$primaryFontSize: 16px;
$primaryLineHeight: 150%;